download_images/
intro/
icons/
refer/
fameBase/models/
fameBase/bin/Debug/
fameBase/bin/Rlease/
fameBase/bin/x64/
vs settings/
output/
*.TMP
ref_codes/
refer_codes/
matlab/
data_sets/
report/
demo/
fameBase/backup_codes_Before_Oct_2016/
videos/
backup/
fameBase/obj/
externalCLR/
paper/
images/
bin/
obj/
.vs/
fameBase.VC.db
fameBase.VC.VC.opendb
external/
